body{
    margin-left: 0;
    padding-left: 5;
}

.body{
    margin-top: 20px;
    padding-top: 10px;
}
.section{
    width: 115%;
}

.highlight-python{
    width: 100%;
}

.related {
    display: none;
}

.footer {
    display: none;
}


#rtd-search-form > input {border:none; background-color: white;}
.docs-tutorials-resources{display: none;}
footer{display: none; height: 0px;}
#header-holder{display: none; height: 0px;margin-top: -100px;position: relative;}
.header-container{display: none;margin-top: -100px;}
.header-holder{display: none; height: 0px;margin-top: -100px;}

