body{
    margin-left: 0;
    padding-left: 5px;
    height: 0px;
}


.body{
    margin-top: 0px;
    padding-top: 10px;
}
.section{
    width: 115%;
}

.highlight-python{
    width: 85%;
}

.related {
    display: none;
}

.footer {
    display: none;
}